h1 {
  color: rgb(156,159,255);
  font-size: 3em;
}

h2 {
  color: rgb(204,204,255);
}

h3 {
  font-size:1.17em;
}

.price {
  weight:bold;
}

.appetizers {
  color: rgb(67,125,42);
}

.salads {
  color: rgb(255,228,120);
}

.entrees {
  color:rgb(255,150,161);
}

.dessert {
  color:rgb(255,214,179);
}
