h1 {
  color: rgb(156,159,255);
  font-size: 3em;
  margin: 3em 6em 1em 6em;
}

h2 {
  color: rgb(148,184,227);
}

h3 {
  font-size:1.17em;
}

i {
  font-style: italic;
}

.highlight {
  background-color: rgb(255,251,196);
}

.appetizers {
  color: rgb(173,219,103);
}

.salads {
  color: rgb(255,228,120);
}

.entrees {
  color:rgb(255,150,161);
}

.dessert {
  color:rgb(255,214,179);
}
